@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Spartan:wght@100&display=swap');

body {
    font-family: 'Spartan', sans-serif;
    background-color: #353D40;
}

.blog-title {
    justify-content: space-between;
    font-size: 60px;
    color: #D9CCB4;
    position: absolute;
    bottom: 40%;
    padding-left: 30px;
    max-width: 600px;
}

.valves-title {
    justify-content: space-between;
    font-size: 60px;
    color: #D9CCB4;
    position: fixed;
    bottom: 60%;
    padding-left: 30px;
}

.title {
    margin: 50px;
    position: fixed;
}

h1 {
    font-size: 110px;
    position: relative;
    top: 20vh;
    text-align: left;
    color: #F2B138;
}

h2 {
    font-size: 110px;
    text-align: center;
    color: #F2B138;
    top: 30vh;
    position: relative;
}

.main-content {
    font-size: 50px;
    padding-right: 30px;
    color: #D9CCB4;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
}

.bottom-content {
    color: #F2B138;
    position: fixed;
    bottom: 0;
    width:100%;
    text-align: center;
}

@media only screen and (max-width: 1300px) {
    h1 {
      font-size: 90px
    }

    .main-content {
        font-size: 40px;
    }
  }

  @media only screen and (max-width: 1000px) {
      .title {
          position: fixed;
          margin: 0;
          padding-left: 30px;
      }

      .valves-title {
        bottom: 80%;
      }

      .blog-title { 
        bottom: 80%;
      }

      .main-content {
        font-size: 40px;
        padding-right: 30px;
        padding-left: 30px;
        color: #D9CCB4;
        position: fixed;
        top: 50%;
        left: 0;
        transform: translate(0, 0%);
      }
  }